body, html {
  padding: 0;
  margin: 0;
  overflow: none;
  background: -webkit-radial-gradient(#333, #eee);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  font-family: 'Inconsolata'; }

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  padding: 0; }

@-webkit-keyframes enter {
  0% {
    left: 100%; }
  100% {
    left: 0%; } }
@keyframes enter {
  0% {
    left: 100%; }
  100% {
    left: 0%; } }
@-webkit-keyframes exit {
  100% {
    left: -100%; }
  0% {
    left: 0%; } }
@keyframes exit {
  100% {
    left: -100%; }
  0% {
    left: 0%; } }
.ng-enter {
  -webkit-animation: enter 1.0s ease-out;
  animation: enter 1.0s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* Other transform properties here */ }

.ng-leave {
  bottom: 0%;
  position: absolute;
  -webkit-animation: exit 0.4s;
  animation: exit 0.4s; }

#modal {
  position: fixed;
  top: 0;
  font-size: 0.6em; }

.debug {
  display: none; }

#main_container {
  position: relative;
  width: 100%;
  height: 100%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 0;
  overflow: visible;
  background-color: transparent; }

#nested_container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 2em;
  overflow: visible; }

#datalocation {
  position: absolute;
  left: 0;
  top: 0;
  overflow: scroll; }

.bang {
  background-color: #f00; }

/*#touchblock {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: solid 3px #333;
	position: fixed;
	left: 0px;
	right: 0px;
	border-radius: 100px;
	z-index: 1;
}

#globecontain {
	width: 100%;
  height: 200px;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

#globe {
	 width: 500px;
  height: 500px;
  background-color: #00f;
  border-radius: 400px;
  position: relative;
  top: 30px;
  left: calc(50% - 250px);
  z-index: 0;
}

#gauge {
	width: 100%;
	background-color: #f0f;
	opacity: 0.8;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 0;
	//-webkit-transform: rotate(180deg);
}

.hidden {
	text-align: center;
	// display: none;
}


//Planets

.planet {
	width: 200px;
}

.earth {
	// background-color: #ff0;
	background: -webkit-linear-gradient(#00f, #f0f);
	color: #fff
}

.mars {
	background: -webkit-linear-gradient(#d6564a, #d9c055);
	color: #fff;

	#planet {
		background: -webkit-linear-gradient(#d9c055, #d6564a);
		border: solid 1px #eee;
		box-shadow: inset 0px 0px 30px #fff, 0px 0px 50px #fff;
		border-radius: 100%;
		margin: 0 auto;
	}
}

.extract {
	#planet {
		background: -webkit-linear-gradient(#000, #333);
		border: solid 1px #eee;
		box-shadow: inset 0px 0px 30px #fff, 0px 0px 50px #fff;
		border-radius: 100%;
		margin: 0 auto;

		//bottom
		position: absolute;
		bottom: 0px;
	}
}


#earth {
	background-color: #f0f;
  	border-radius: 100px;
  	width: 200px;
  	height: 200px;
  	margin: 0 auto;
}

#mars {
	background-color: #ff0;
  	border-radius: 100px;
  	width: 200px;
  	height: 200px;
  	margin: 0 auto;
}*/
#lobby {
  height: 100vh;
  text-align: center;
  color: #eee;
  font-weight: 100; }
  #lobby a {
    text-decoration: none; }
  #lobby h2 {
    width: 100%;
    margin: 0.5em 0;
    text-align: center; }
  #lobby #openStmt {
    height: 100%;
    height: 100vh; }
  #lobby #planet {
    background-color: #337;
    margin-top: 2em;
    width: 50%;
    padding-bottom: 50%;
    border-width: 0px; }
    #lobby #planet h3 {
      color: #eee;
      text-decoration: none;
      margin-top: 2em;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      font-weight: 100;
      position: absolute;
      left: 0;
      right: 0; }
  #lobby #planet2 {
    width: 50%;
    padding-bottom: 50%;
    border-width: 0px;
    background-color: #733; }
    #lobby #planet2 h3 {
      color: #eee;
      text-decoration: none;
      margin-top: 2em;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      font-weight: 100;
      position: absolute;
      left: 0;
      right: 0; }

#planet {
  border: solid 1px;
  border-radius: 100%;
  width: 80%;
  padding-bottom: 80%;
  margin: 0 auto;
  transition: transform 1s; }

#planet2 {
  border: solid 1px;
  border-radius: 100%;
  width: 80%;
  padding-bottom: 80%;
  margin: 0 auto;
  transition: transform 1s; }

#main_container {
  overflow: hidden; }

#nested_container {
  background-color: transparent; }

#modal {
  display: none; }

#upper {
  text-align: center;
  overflow: hidden;
  position: relative;
  transition: all 9s; }
  #upper h2 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 3em;
    letter-spacing: .2em;
    margin: 0.5em 0 0.5em 0; }
  #upper p {
    line-height: 1.5em;
    letter-spacing: 0.05em;
    font-size: 0.9em; }

#gauge {
  width: 100%;
  background-color: rgba(200, 200, 200, 0.6);
  overflow: hidden;
  position: absolute;
  top: 0px;
  text-align: center; }
  #gauge #percent {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    font-size: 3em; }

.nature {
  color: fff; }
  .nature #planet {
    border-color: #0f0; }

.human {
  color: #333; }
  .human #planet {
    border-color: #000; }

.intro #pairnow {
  display: none; }
.intro input {
  display: none; }
.intro #touchdot {
  display: none; }
.intro #planet {
  transform: scale(1, 1); }
.intro #planet2 {
  display: none; }
.intro #upper {
  display: none;
  top: -300px;
  opacity: 0; }
.intro #lower {
  display: block;
  text-align: center; }
.intro #planet2 {
  opacity: 0; }

.extract #pairnow {
  display: none; }
.extract input {
  display: none; }
.extract #touchdot {
  display: block; }
.extract #planet {
  transform: scale(1.6, 1.6) translateY(55%); }
.extract #upper {
  display: block;
  top: 0px;
  opacity: 1; }
.extract #lower {
  display: none; }
.extract #planet2 {
  opacity: 0; }

.mars #planet {
  background-color: rgba(255, 100, 100, 0.5); }

.earth #planet {
  background-color: rgba(100, 100, 255, 0.5); }
.earth #planet2 {
  background-color: rgba(100, 100, 255, 0.5); }

#touchdot {
  background-color: transparent;
  border-radius: 100%;
  border: solid 2px #333;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%; }

.pairing #pairnow {
  display: block; }
.pairing input {
  display: block;
  height: 3em;
  width: 100%;
  text-align: center;
  background-color: transparent; }
.pairing #touchdot, .pairing #upper, .pairing #lower {
  display: none; }
.pairing #planet {
  transform: translateY(10%);
  background-color: transparent; }
.pairing #planet2 {
  opacity: 1;
  background-color: transparent;
  transform: translateY(-35%); }
  .pairing #planet2 h3 {
    margin-top: 15%; }

/*# sourceMappingURL=style.css.map */
