<h3>Admin</h3>
<select ng-model="msg">
	<option value="">lobby</option>
	<option value="tap">tap</option>
	<option value="shake">shake</option>
	<option value="diagnostics">diagnostics</option>	
	<option value="song">song</option>
	<option value="betweenpages">between pages</option>
</select>
<button ng-click="submitted()">Submit</button>
<select ng-model="msg2">
	<option value="song1">song1</option>
	<option value="song2">song2</option>
	<option value="song3">song3</option>
	<option value="song4">song4</option>
	<option value="song5">song5</option>
</select>
<button ng-click="pushPage()">Submit</button>

<h4>{{id}}</h4>