<div id="lobby">

	<div id="openStmt">
		<h1></h1>
		<p></p>
		<h1><a href="#/earth" ng-click="clickPlanet('earth')">earth</a></h1>
		<h1><a href="#/mars" ng-click="clickPlanet('mars')">mars</a></h1>

	</div>
	
</div>

<div class="hidden"><h3>Lobby</h3>
<hr>
<h3>Quick set cookies</h3>
<select ng-model="planet" ng-change="setPlanet()">
	<option value="">none</option>
	<option value="earth">earth</option>
	<option value="mars">mars</option>
</select>
<select ng-model="occupation" ng-change="setOccupation()">
	<option value="">none</option>
	<option value="human">human</option>
	<option value="nature">nature</option>
</select>
<br>
<br>
</div>