<div id="homepage">
	<a href="#/lobby">Start Demo</a><br>
	<a href="#/" ng-click="reset();">reset</a><br>
	<a href="#/" ng-click="tcpPlanet()">tcp planet</a><br>

	Since the user gets to choose everything, thus we can rely on the phone to store their meta information (their job and plant, even work percentage complete).<br><br>
	We only need to worry about checking their cookies each page, inside of factory.user there is a check cookie function, this function will redirect the users browser to the appropiate page. If the user try to force redirect each page will capture what their cookies are and redirect them to the appropiate location. <br><br>
	On the server we only need to keep track of the users who have accomplished their occupation goal and pair them. <br>
	<br>
	<br><br>
	<h3>Stages</h3>
	visit the site --> preamble --> pick planet --> pick occupation <br>
	^^^^ skip all this if the user has already done it <br>
	loop = interaction --> gain percentage --> find partner --> complete --> spray <br>
	end game <br> 

	<br>
	<br>
	Home page
	<a href="#/diagnostics">diagnostics</a>
	<a href="#/input">diagnostics out</a>
</div>