<div id="lobby">

	<div id="openStmt">

		<p>While the democratic petty bourgeois want to bring the revolution to an end as quickly as possible, achieving at most the aims already mentioned, it is our interest and our task to make the revolution permanent until all the more or less propertied classes have been driven from their ruling positions, until the proletariat has conquered state power...<!-- <br/><br/><span>&mdash;Karl Marx, 1850</span></p> -->

		<h1><a href="">continue</a></h1>

	</div>
	
</div>

<div class="hidden"><h3>Lobby</h3>
<hr>
<h3>Quick set cookies</h3>
<select ng-model="planet" ng-change="setPlanet()">
	<option value="">none</option>
	<option value="planet1">planet1</option>
	<option value="planet2">planet2</option>
</select>
<select ng-model="occupation" ng-change="setOccupation()">
	<option value="">none</option>
	<option value="occupation1">occupation1</option>
	<option value="occupation2">occupation2</option>
</select>
<br>
<br>
</div>