@import "variables";

body,html{
	padding: 0;
	margin: 0;
	overflow: none;
	background-color: #333;
}

h1,h2,h3,h4,h5,h6,a,p {
	margin: 0;
	padding: 0;
}

@import "animation";
@import "modal";

#main_container{
	position: relative;
	//width: 80%;
	width: 100%;
  	height: 100%;
	//max-width: 800px;
	margin: 0 auto;
	padding-top: 0;
	overflow: visible;
	background-color: #eee;
}

#nested_container {
	position: relative;
	width: 100%;
  	height: 100%;
	margin: 0 auto;
	padding-top: 2em;
	overflow: visible;
}

#datalocation{
	position: absolute;
	left: 0;
	top: 0;
	overflow: scroll;
}

.bang {
	background-color: #f00;
}

/*#touchblock {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: solid 3px #333;
	position: fixed;
	left: 0px;
	right: 0px;
	border-radius: 100px;
	z-index: 1;
}

#globecontain {
	width: 100%;
  height: 200px;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

#globe {
	 width: 500px;
  height: 500px;
  background-color: #00f;
  border-radius: 400px;
  position: relative;
  top: 30px;
  left: calc(50% - 250px);
  z-index: 0;
}

#gauge {
	width: 100%;
	background-color: #f0f;
	opacity: 0.8;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 0;
	//-webkit-transform: rotate(180deg);
}

.hidden {
	text-align: center;
	// display: none;
}


//Planets

.planet {
	width: 200px;
}

.earth {
	// background-color: #ff0;
	background: -webkit-linear-gradient(#00f, #f0f);
	color: #fff
}

.mars {
	background: -webkit-linear-gradient(#d6564a, #d9c055);
	color: #fff;

	#planet {
		background: -webkit-linear-gradient(#d9c055, #d6564a);
		border: solid 1px #eee;
		box-shadow: inset 0px 0px 30px #fff, 0px 0px 50px #fff;
		border-radius: 100%;
		margin: 0 auto;
	}
}

.extract {
	#planet {
		background: -webkit-linear-gradient(#000, #333);
		border: solid 1px #eee;
		box-shadow: inset 0px 0px 30px #fff, 0px 0px 50px #fff;
		border-radius: 100%;
		margin: 0 auto;

		//bottom
		position: absolute;
		bottom: 0px;
	}
}


#earth {
	background-color: #f0f;
  	border-radius: 100px;
  	width: 200px;
  	height: 200px;
  	margin: 0 auto;
}

#mars {
	background-color: #ff0;
  	border-radius: 100px;
  	width: 200px;
  	height: 200px;
  	margin: 0 auto;
}*/




// Revision 2 Styles


// Generic Element Styling

#planet {
	border: solid 1px #333;
	border-radius: 100%;
	margin: 0 auto;
	text-align: center;
	transition: all 1s;
}
#planet2 {
	border: solid 1px #333;
	border-radius: 100%;
	margin: 0 auto;
	text-align: center;
	transition: all 1s;
}

#main_container {
	background-color: #f0f;
	overflow: hidden;
}

#nested_container {
	background-color: #666;
}

#modal {
	display: none;
}

#gauge {
	width: 100%;
	background-color: #f0f;
	//height: 70px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	text-align: center;

	#percent {
		position: absolute;
		width: 100%;
		text-align: center;
    	bottom: 0;
	}
}

.intro {
	#planet {
		transform: scale(1,1);
	}

	#planet2 {
		display: none;
	}
	svg {
		width: 3em;
	}
}

.extract {
	#planet {
		transform: scale(1.5,1.5) translateY(85%);
	}
	svg {
		display: none;
	}
}

.mars {
	#planet {
		background-color: #333;
		//background: -webkit-linear-gradient(#000, #eee);
		//box-shadow: inset 0px 0px 30px #fff, 0px 0px 50px #fff;
	}
}

.intro {
	#upper {
		display: none;
	}
	#lower {
		display: block;
	}
	#planet2 {
		opacity: 0;
	}
}

.extract {
	#upper {
		display: block;
	}
	#lower {
		display: none;
	}
	#planet2 {
		opacity: 0;
	}
}

.pairing {
	#upper {
		display: none;
	}
	#lower {
		display: none;
	}
	#planet {
		transform: translateY(10%);
		background-color: transparent;
	}
	#planet2 {
		opacity: 1;
		transform: translateY(-35%);
		h3{
			margin-top: 15%;
		}
	}
}

