@import "variables";

body,html{
	padding: 0;
	margin: 0;
	overflow: none;
	//background-color: #333;
	background: -webkit-radial-gradient(#333, #eee);

	//Hardware Accelerated
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

	font-family: 'Inconsolata';
}

h1,h2,h3,h4,h5,h6,a,p {
	margin: 0;
	padding: 0;
}

@import "animation";
@import "modal";

.debug {
	display: none;
}

#main_container{
	position: relative;
	//width: 80%;
	width: 100%;
  	height: 100%;
  	height: 100vh;
	//max-width: 800px;
	margin: 0 auto;
	padding-top: 0;
	overflow: visible;
	background-color: transparent;
}

#nested_container {
	position: relative;
	width: 100%;
  	height: 100%;
	margin: 0 auto;
	padding-top: 2em;
	overflow: visible;
}

#datalocation{
	position: absolute;
	left: 0;
	top: 0;
	overflow: scroll;
}

.bang {
	background-color: #f00;
}

/*#touchblock {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: solid 3px #333;
	position: fixed;
	left: 0px;
	right: 0px;
	border-radius: 100px;
	z-index: 1;
}

#globecontain {
	width: 100%;
  height: 200px;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

#globe {
	 width: 500px;
  height: 500px;
  background-color: #00f;
  border-radius: 400px;
  position: relative;
  top: 30px;
  left: calc(50% - 250px);
  z-index: 0;
}

#gauge {
	width: 100%;
	background-color: #f0f;
	opacity: 0.8;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 0;
	//-webkit-transform: rotate(180deg);
}

.hidden {
	text-align: center;
	// display: none;
}


//Planets

.planet {
	width: 200px;
}

.earth {
	// background-color: #ff0;
	background: -webkit-linear-gradient(#00f, #f0f);
	color: #fff
}

.mars {
	background: -webkit-linear-gradient(#d6564a, #d9c055);
	color: #fff;

	#planet {
		background: -webkit-linear-gradient(#d9c055, #d6564a);
		border: solid 1px #eee;
		box-shadow: inset 0px 0px 30px #fff, 0px 0px 50px #fff;
		border-radius: 100%;
		margin: 0 auto;
	}
}

.extract {
	#planet {
		background: -webkit-linear-gradient(#000, #333);
		border: solid 1px #eee;
		box-shadow: inset 0px 0px 30px #fff, 0px 0px 50px #fff;
		border-radius: 100%;
		margin: 0 auto;

		//bottom
		position: absolute;
		bottom: 0px;
	}
}


#earth {
	background-color: #f0f;
  	border-radius: 100px;
  	width: 200px;
  	height: 200px;
  	margin: 0 auto;
}

#mars {
	background-color: #ff0;
  	border-radius: 100px;
  	width: 200px;
  	height: 200px;
  	margin: 0 auto;
}*/




// Revision 2 Styles


// Lobby

#lobby {
	//Make this radial gradient
	//background: -webkit-linear-gradient(#d9c055, #d6704b);
	//background-color: #000;

	//background: -webkit-radial-gradient(#eee, #333);
	height: 100vh;

	text-align: center;

	color: #eee;
	font-weight: 100;

	a {
		text-decoration: none;
	}

	h2 {
		width: 100%;
		margin: 0.5em 0;
		text-align: center;
	}

	#openStmt {
		height: 100%;
		height: 100vh;
	}

	#planet {
		background-color: #337;

		margin-top: 2em;

		width: 50%;
		padding-bottom: 50%;

		border-width: 0px;

		h3 {
			color: #eee;
			text-decoration: none;
			margin-top: 2em;
			letter-spacing: 0.4em;
			text-transform: uppercase;
			font-weight: 100;

			position: absolute;
			left: 0;
			right: 0;
		}
	}

	#planet2 {

		width: 50%;
		padding-bottom: 50%;

		border-width: 0px;

		background-color: #733;
		h3 {
			color: #eee;
			text-decoration: none;
			margin-top: 2em;
			letter-spacing: 0.4em;
			text-transform: uppercase;
			font-weight: 100;

			position: absolute;
			left: 0;
			right: 0;
		}
	}
}


// Generic Element Styling

#planet {
	border: solid 1px;
	border-radius: 100%;

	width: 80%;
	padding-bottom: 80%;
	margin: 0 auto;
	// text-align: center;
	transition: transform 1s;
	// //box-shadow: inset 0px 0px 30px #fff, 0px 0px 50px #fff;

	// -webkit-transform: translate3d(0, 0, 0);
	// -moz-transform: translate3d(0, 0, 0);
	// -ms-transform: translate3d(0, 0, 0);
	// transform: translate3d(0, 0, 0);
}
#planet2 {
	
	border: solid 1px;
	border-radius: 100%;

	width: 80%;
	padding-bottom: 80%;
	margin: 0 auto;
	// text-align: center;
	transition: transform 1s;

	// text-align: center;
	// transition: transform 1s;
	// //box-shadow: inset 0px 0px 30px #fff, 0px 0px 50px #fff;

	// -webkit-transform: translate3d(0, 0, 0);
	// -moz-transform: translate3d(0, 0, 0);
	// -ms-transform: translate3d(0, 0, 0);
	// transform: translate3d(0, 0, 0);
}

#main_container {
	//background-color: #f0f;
	//background: -webkit-radial-gradient(#eee, #333);
	overflow: hidden;
}

#nested_container {
	background-color: transparent;
}

#modal {
	display: none;
}

#upper {
	text-align: center;
	overflow: hidden;
	//height: auto;
	position: relative;
	// transition-delay: 2s;
	transition: all 9s;

	//color: #fff;

	h2 {
		text-transform: uppercase;
		font-weight: 100;
		font-size: 3em;
  		letter-spacing: .2em;
  		margin: 0.5em 0 0.5em 0;
	}

	p {
		line-height: 1.5em;
  		letter-spacing: 0.05em;
  		font-size: 0.9em;
	}
}

#gauge {
	width: 100%;
	//background-color: #d9c055;
	background-color: rgba(200,200,200,0.6);
	//height: 70px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	text-align: center;
	//box-shadow: 0 20px 20px #d9c055;

	#percent {
		position: absolute;
		width: 100%;
		text-align: center;
    	bottom: 0;
    	font-size: 3em;
	}
}


// Occupation Introduction

.nature {
	color: fff;
	#planet {
		border-color: #0f0;
	}

	// #planet2 {
	// 	display: none;
	// }
}

.human {
	color: #333;
	#planet {
		border-color: #000;
	}

	// #planet2 {
	// 	display: none;
	// }
}

.intro {

	#pairnow {
		display: none;
	}
	input {
		display: none;
	}

	#touchdot {
		display: none;
	}

	#planet {
		transform: scale(1,1);
	}

	#planet2 {
		display: none;
	}
	// svg {
	// 	width: 3em;
	// }
	#upper {
		//display: none;
		// text-align: center;
		display: none;
  		top: -300px;
		//height: 0px;
		//overflow: hidden;
		opacity: 0;
	}
	#lower {
		display: block;
		text-align: center;
	}
	#planet2 {
		opacity: 0;
	}
}


// Extraction

.extract {
	
	//color: #eee;

	#pairnow {
		display: none;
	}

	input {
		display: none;
	}

	#touchdot {
		display: block;
	}

	#planet {
		transform: scale(1.6,1.6) translateY(55%);
	}
	
	// svg {
	// 	display: none;
	// }
	#upper {
		display: block;
		//text-align: center;
		top: 0px;
		//height: auto;
		//overflow: hidden;
		opacity: 1;
	}
	#lower {
		display: none;
	}
	#planet2 {
		opacity: 0;
	}
}

.mars {
	//background: -webkit-linear-gradient(#d9c055, #d6704b);
	//background-color: #d6704b;
	#planet {
		background-color: rgba(255,100,100,0.5);
		//background: -webkit-linear-gradient(#d9c055, #d6564a);
		//box-shadow: inset 0px 0px 30px #fff, 0px 0px 50px #fff;
	}
}

.earth {
	//background: -webkit-linear-gradient(#3f3, transparent);

	//background: -webkit-radial-gradient(#33f, transparent);
	//background-color: #d6704b;
	#planet {
		background-color: rgba(100,100,255,0.5);
		//border-color: #00f;
		//background: -webkit-linear-gradient(#d9c055, #d6564a);
		//box-shadow: inset 0px 0px 30px #fff, 0px 0px 50px #fff;
	}
	#planet2 {
		background-color: rgba(100,100,255,0.5);
		//border-color: #00f;
		//background: -webkit-linear-gradient(#d9c055, #d6564a);
		//box-shadow: inset 0px 0px 30px #fff, 0px 0px 50px #fff;
	}
}

#touchdot {
	background-color: transparent;
	border-radius: 100%;
	border: solid 2px #333;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
}


// Pairing

.pairing {

	#pairnow {
		display: block;
	}

	input {
		display: block;
		height: 3em;
  width: 100%;
  text-align: center;
  background-color: transparent;
	}

	#touchdot, #upper, #lower {
		display: none;
	}

	#planet {
		transform: translateY(10%);
		background-color: transparent;
		//-webkit-filter: blur(2px);
	}
	#planet2 {
		opacity: 1;
		background-color: transparent;
		transform: translateY(-35%);
		h3{
			margin-top: 15%;
		}
	}
}
